header{
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px  black;
    background-color:rgb(199, 190, 190);
}

header nav{
    max-width:85%;
    height:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav h1{
    color: rgb(25, 33, 187);
}

header nav .avtar{
    cursor: pointer;
}